body{
    ;
    background-color: rgb(250, 97, 97);
    backdrop-filter: blur(8px);
}
*{
    text-align: center;
}
.seats{
    margin: 1rem;
}
 input[type=checkbox]:before{
    width: 2rem;
    height: 2rem;
    
    content: "";
    display: inline-block;
    background-color:#ccc;
}


 input[type=checkbox]:checked:before {
    background-color:Green;
    font-size: 15px;
}

.seatTeller input{
    width: 2rem;
    height: 2rem;
}
.NA input{
    background-color: #ccc;
    margin-left: 1rem;
}
.selected input[type=checkbox]:before{
    background: green;
      
    content: "";
    display: inline-block;
}
.occupied input[type=checkbox]:before{
    background: red;
      
    content: "";
    display: inline-block;
}